/* Start div heading */
.narrow {
    h2 {
        font-size: 1.9em;
        color: $mainColor;
        font-weight: bold;
        letter-spacing: 1.8px;
    }
    p {
        color: #888;
        line-height: 1.6;
        margin-bottom: 30px;
        font-size: larger;
    }
}
/* End div heading */

