/* Start Footer */
footer {
    width: 100%;
    height: auto;
    padding: 10px 0 20px;
    p {
        color: #888;
        font-size: 18px;
    }
    i {
        background-color: #333;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
        font-size: 25px !important;
    }
}
/* End Footer */